<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd
">


<context:annotation-config />


<bean name="address" class="com.SpringCore2.AutoWiring.AutoWiring_Annotations.Qualifer_Annotation.Address">
<property name="city" value="Kathmandu" />
<property name="country" value="Nepal" />
</bean>

<bean name="address2" class="com.SpringCore2.AutoWiring.AutoWiring_Annotations.Qualifer_Annotation.Address">
<property name="city" value="Pokhara" />
<property name="country" value="Nepal" />
</bean>


<bean name="stds" class="com.SpringCore2.AutoWiring.AutoWiring_Annotations.Qualifer_Annotation.Student">

</bean>

</beans>